# Directory with dependencies
/node_modules/

# Directory with experimental project sources
/.experimental/

# Directory containing components for the utility for working with markdown files
/.obsidian/